.button--form {
  width: 240px;
  height: 42px;
  padding: 10px, 12px, 10px, 12px;
  background-color: #fbdf8d;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: #000;
  font-weight: 600;
  line-height: 21.78px;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.smallbtn {
  width: 124px;
  height: 42px;
  margin: 0px 0px 5px 0px;
  background-color: #2595eb;
}

.medium {
  width: 350px;
  margin: 15px 0px 20px 0px;
}

.big {
  width: 389px;
  margin-top: $margin-top;
}
