.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 220px;
  gap: 10px;
  margin-top: 40px;
  padding-top: 20px;
  background-color: $color-blue;

  @include onDesktop {
    position: relative;
    height: 251px;
  }

  &__img {
    height: 40px;
    margin: 30px 0 20px 20px;
  }

  &__link {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.005em;
    text-align: left;
    margin-left: 20px;
    color: #fff;
    text-decoration: underline;

    &:nth-last-child(1) {
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
}

.link7 {
  text-decoration: none;
}

@include onDesktop {
  .footer > .link1 {
    position: absolute;
    top: 30px;
    left: 10%;
  }

  .footer > .link2 {
    position: absolute;
    top: 60px;
    left: 10%;
  }

  .footer > .link3 {
    position: absolute;
    top: 60px;
    left: 40%;
  }

  .footer > .link4 {
    position: absolute;
    top: 30px;
    left: 40%;
  }

  .footer > .link5 {
    position: absolute;
    top: 30px;
    right: 10%;
  }

  .footer > .link6 {
    position: absolute;
    top: 60px;
    right: 10%;
  }

  .footer > .link7 {
    position: absolute;
    bottom: 10px;
    left: 35%;
    text-decoration: none;
  }
}

.footer-contact {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
}
