p {
  margin-top: $margin-top;
}

.section-title-desktop-grab {
  @include onDesktop {
    position: absolute;
    top: 140px;
    width: 558px;
    height: 229px;
    opacity: 85%;
    background-color: #fff;
  }
}

.section-title-desktop-grab > .section-title {
  @include onDesktop {
    color: $color-blue;
    font-size: 36px;
    line-height: 44px;
  }
}

.grab__bars--cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;

  @include onDesktop {
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
  }
}

.grab__bars--card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 538px;
  background-color: $color-baground;
  border: 1px solid #e5e7eb;
  border-radius: 9px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  &-discription {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 268px;
    align-items: start;
    position: relative;
  }

  &-ellipse-1 {
    position: absolute;
    top: 185px;
    left: 20px;
  }

  &-ellipse-2 {
    position: absolute;
    top: 185px;
    left: 80px;
  }

  &-ellipse-3 {
    position: absolute;
    top: 185px;
    left: 140px;
  }

  &-ellipse-4 {
    position: absolute;
    top: 185px;
    left: 200px;
  }

  &-ellipse-5 {
    position: absolute;
    top: 185px;
    left: 260px;
  }

  &-title {
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.005em;
    margin-left: 20px;
  }

  &-title p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.005em;
    color: #1f2937;
  }

  &-text {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.005em;
    color: #9ca3af;
    margin-top: $margin-top;
    margin-left: 30px;
  }
}
