.header {
  position: sticky;
  top: 0;
  max-width: 768px;
  height: 82px;
  z-index: 3;
  background-color: #fff;

  &__burger-menu_nav {
    padding-top: 120px;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #F9AFE9;
    overflow-y: auto;
    right: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
  }
}

.top-actions {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
  background-color: $color-baground;
  border: 1px solid #e2e8f0;
  padding: 20px;
  gap: 20px;
}

.icon--menu {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  cursor: pointer;
}

.line {
  display: block;
  height: 1px;
  width: 40%;
  background: #0e2431;
}

.line1 {
  position: absolute;
  top: 35%;
  left: 30%;
}

.line2 {
  position: absolute;
  top: 50%;
  left: 30%;
}

.line3 {
  position: absolute;
  top: 65%;
  left: 30%;
}
