.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: smooth;
  // height: 100%;
}

.header, .main, .footer, .form__conteiner {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  
  @include onDesktop {
    max-width: 1440px;
  }
}

.footer {
  flex: 0 0 auto;
}
